$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';


$app-blue: #2a8eb2;
$app-red: #E44424;

.hero-container {
    margin-top: 100px;
}

.main-hero {
    margin-top: 5px;
    background-color: transparent;
}

.input-section {
    .btn {
        line-height: 1.428571429;
        
        .glyphicon {
            line-height: 1.428571429;
        }
    }
    
    .geolocate-button {
        border-top: 1px $btn-default-border solid;
        border-bottom: 1px $btn-default-border solid;
        background-color: white;
        
    }
    
    .search-input {
        border-right-width: 0px;
    }
    
    .location-chosen {

    }
}

.chart {
    .temperature-colder-3 {
        background-color: $app-blue;
        color: white;
    }
    
    .temperature-colder-2 {
        background-color: lighten($app-blue, 20%);
    }
    
    .temperature-colder-1 {
        background-color: lighten($app-blue, 40%);
    }
    
    .temperature-same {
        
    }
    
    .temperature-warmer-3 {
        background-color: $app-red;
        color: white;
    }
    
    .temperature-warmer-2 {
        background-color: lighten($app-red, 20%);
    }
    
    .temperature-warmer-1 {
        background-color: lighten($app-red, 40%);
    }
}
