$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

.input-section {
    text-align: center;
    margin-top: 50px;

    .btn {
        line-height: 1.428571429;
        
        .glyphicon {
            line-height: 1.428571429;
        }
    }
    
    .geolocate-button {
        border-top: 1px $btn-default-border solid;
        border-bottom: 1px $btn-default-border solid;
    }
    
    .search-input {
        border-right-width: 0px;
    }

}
